$nimble-orange: #FF8C12
$font-family: 'BlinkMacSystemFont', system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande"

body, html
	width: 100%
	display: block
	padding: 0
	margin: 0
	border: 0
	overflow: hidden

body
	background: $nimble-orange

div.input
	display: relative
	pointer-events: none
	input[type=text]
		display: block
		position: relative
		border: 0
		pointer-events: auto
		font-size: 1.25em
		padding: 12px 16px
		font-family: $font-family
		letter-spacing: 0.5px
		width: calc(100% - 32px)
		outline: none
		margin: 0 auto
	i.fa
		position: absolute
		top: 8px
		right: 16px
		font-size: 1em
		padding: 8px
		border-radius: 50%
		background: #a9a9a9
		color: white

h1
	text-align: center
