$nimble-orange: #FF8C12
$font-family: 'BlinkMacSystemFont', system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande"

body, html
	width: 100%
	display: block
	padding: 0
	margin: 0
	border: 0

body
	background: $nimble-orange

input[type=text]
	display: block
	border: 0
	font-size: 1.25em
	padding: 12px 16px
	font-family: $font-family
	letter-spacing: 0.5px
	width: 100%
	outline: none
	margin: 0 auto
